.logged-out-user-table-list-format {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  justify-items: center; /* Center content horizontally */
  gap: 10px;
  padding: 12px 15px;
  border: 1px solid #cacaca;
  font-size: 13px;
  text-align: center; /* Center text */
}

.logged-out-user-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}
.logged-out-user-table-list-format .title {
  background-color: #f9f9f9;
}

.logged-out-user-table-list-format img {
  width: 35px;
  height: 35px;
}

@media (max-width: 600px) {
  .logged-out-user-table-list-format {
    grid-template-columns: 1fr 3fr 1fr;
    gap: 15px;
  }

  .logged-out-user-table-list-format {
    display: none;
  }
}
